<div class="flex justify-end space-x-2">
  <%= if @current_user do %>
    <div><%= @current_user.email %></div>
    <div><%= link "Settings", to: Routes.user_settings_path(@conn, :edit) %></div>
    <div><%= link "Log out", to: Routes.user_session_path(@conn, :delete), method: :delete %></div>
  <% else %>
    <div><%= link "Register", to: Routes.user_registration_path(@conn, :new) %></div>
    <div><%= link "Log in", to: Routes.user_session_path(@conn, :new) %></div>
  <% end %>
</div>
